{%  extends 'master.html' %}

{% block title %}
    Subjects
{% endblock %}

{%  block content %}
    <div class="list-group">
        <h3>Subjects</h3>
        {% for subject in subjects %}
            <a class="list-group-item list-group-item-action" href="{% url 'portal:subject' subject.pk %}">
                {{ subject.name }}
            </a>
        {% endfor %}
    </div>
    <div class="list-group" style="margin-top: 20px;">
        <h3>User analysis</h3>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Number of posts</th>
              </tr>
            </thead>
            <tbody>
        {% for user in users %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.news_posts.count }}</td>
              </tr>
        {% endfor %}

            </tbody>
          </table>
    </div>
{% endblock %}